@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  background: #01bfff;
  justify-content: center;
}

.wrapper {
  height: 265px;
  max-width: 410px;
  background: #fff;
  border-radius: 7px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.wrapper.active {
  height: 530px;
}
header h1 {
  font-size: calc(21 / 16 * 1rem);
  font-weight: 600;
}
header p {
  margin-top: 5px;
  color: #575757;
  font-size: calc(16 / 16 * 1rem);
}
